/*
Theme Name: Redbox Média - Thème Personnalisé
Theme URI: http://redboxmedia.ca/
Description: Ceci est un thème personnalisé créé par Redbox Média
Author: Redbox Média
Author URI: http://redboxmedia.ca/
Template: salient
Version: 1
*/

/*@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  src: url('fonts/Oswald/Oswald-Regular.ttf')  format('truetype')
}
@font-face {
  font-family: 'Oswald';
  font-weight: 300;
  src: url('fonts/Oswald/Oswald-Light.ttf')  format('truetype')
}
@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  src: url('fonts/Oswald/Oswald-Bold.ttf')  format('truetype')
}*/

/* gravity forms */

.gform_fields{
	margin:0 -5px;
	list-style:none;
}

.gform_fields li{
	padding:0 5px;
	list-style: none !important;
	float:left;
	box-sizing: border-box;
}

.gform_fields:after{
	content: ' ';
	display:block;
	clear:both;
}

.col-gf-1  { width:   8%; }
.col-gf-2  { width:  16%; }
.col-gf-3  { width:  25%; }
.col-gf-4  { width:  33%; }
.col-gf-5  { width:  41%; }
.col-gf-6  { width:  50%; }
.col-gf-7  { width:  58%; }
.col-gf-8  { width:  66%; }
.col-gf-9  { width:  75%; }
.col-gf-10 { width:  83%; }
.col-gf-11 { width:  91%; }
.col-gf-12 { width: 100%; }

.validation_error{
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.gform_confirmation_message{
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

/* easy responsive */

@media(max-width:992px){ .visible-lg{display:none;} }
@media(min-width:992px){ .hidden-lg{display:none;} }

@media(max-width:992px) and (min-width:768px){ .hidden-md{display:none !important;} }
@media(min-width:992px){ .visible-md{display:none !important;} }
@media(max-width:768px){ .visible-md{display:none !important;} }

@media(max-width:768px) and (min-width:480px){ .hidden-sm{display:none !important;} }
@media(min-width:768px){ .visible-sm{display:none !important;} }
@media(max-width:480px){ .visible-sm{display:none !important;} }

@media(min-width:480px){ .visible-xs{display:none;} }
@media(max-width:480px){ .hidden-xs{display:none;} }

.row-flex{
	margin:0 -10px;
}

.row-flex.row-gutter-40{
	margin:0 -40px;
}

.row-flex.row-gutter-60{
	margin:0 -60px;
}

.row-flex:after{
	content:' ';
	display:block;
	clear:both;
}

.row-flex *[class*="span-flex"]{
	padding:0 10px;
}

.row-flex.row-gutter-40 *[class*="span-flex"]{
	padding:0 40px;
}

.row-flex.row-gutter-60 *[class*="span-flex"]{
	padding:0 60px;
}

.span-flex-lg-1, .span-flex-md-1, .span-flex-sm-1, .span-flex-xs-1  	{ width:   8%; margin:0; }
.span-flex-lg-2, .span-flex-md-2, .span-flex-sm-2, .span-flex-xs-2  	{ width:  16%; margin:0; }
.span-flex-lg-3, .span-flex-md-3, .span-flex-sm-3, .span-flex-xs-3  	{ width:  25%; margin:0; }
.span-flex-lg-4, .span-flex-md-4, .span-flex-sm-4, .span-flex-xs-4  	{ width:  33%; margin:0; }
.span-flex-lg-5, .span-flex-md-5, .span-flex-sm-5, .span-flex-xs-5  	{ width:  41%; margin:0; }
.span-flex-lg-6, .span-flex-md-6, .span-flex-sm-6, .span-flex-xs-6  	{ width:  50%; margin:0; }
.span-flex-lg-7, .span-flex-md-7, .span-flex-sm-7, .span-flex-xs-7  	{ width:  58%; margin:0; }
.span-flex-lg-8, .span-flex-md-8, .span-flex-sm-8, .span-flex-xs-8  	{ width:  66%; margin:0; }
.span-flex-lg-9, .span-flex-md-9, .span-flex-sm-9, .span-flex-xs-9  	{ width:  75%; margin:0; }
.span-flex-lg-10, .span-flex-md-10, .span-flex-sm-10, .span-flex-xs-10 	{ width:  83%; margin:0; }
.span-flex-lg-11, .span-flex-md-11, .span-flex-sm-11, .span-flex-xs-11 	{ width:  91%; margin:0; }
.span-flex-lg-12, .span-flex-md-12, .span-flex-sm-12, .span-flex-xs-12 	{ width: 100%; margin:0; }

@media (max-width:992px){
	.span-flex-lg-1, .span-flex-lg-2, .span-flex-lg-3, .span-flex-lg-4, .span-flex-lg-5, .span-flex-lg-6, .span-flex-lg-7, .span-flex-lg-8, .span-flex-lg-9, .span-flex-lg-10, .span-flex-lg-11, .span-flex-lg-12{
		width:100%;
	}
}

@media (max-width:768px){
	.span-flex-md-1, .span-flex-md-2, .span-flex-md-3, .span-flex-md-4, .span-flex-md-5, .span-flex-md-6, .span-flex-md-7, .span-flex-md-8, .span-flex-md-9, .span-flex-md-10, .span-flex-md-11, .span-flex-md-12{
		width:100%;
	}
}

@media (max-width:480px){
	.span-flex-sm-1, .span-flex-sm-2, .span-flex-sm-3, .span-flex-sm-4, .span-flex-sm-5, .span-flex-sm-6, .span-flex-sm-7, .span-flex-sm-8, .span-flex-sm-9, .span-flex-sm-10, .span-flex-sm-11, .span-flex-sm-12{
		width:100%;
	}
}

html body {
	font-family: 'Oswald', sans-serif !important;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
}
html body a {
	color: #fff;
}
body p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body .bold, 
body strong, 
body b {
	font-family: 'Oswald', sans-serif !important;
}


#header-outer  {
	float: left;
	max-width: 251px;
	width: 100%;
	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
#ajax-content-wrap,
.menu-top {
	float: right;
	/*margin-left: 331px;*/
	width: calc(100% - 331px);
}

.wrap-global {
	background: url(images/cscrate-bg-1.png) no-repeat top center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}


.wrap-strict {
	max-width: 1695px;
	margin: 0 auto ;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	
	
}
.wrap-all {
	min-height: calc(100vh);
	padding-bottom: 39px;
	/*margin-bottom: -39px;*/
	position: relative;

}

body .container {
	padding: 0;

}

h1, h2, h3, h4, h5, h6  {
	font-family: 'Oswald', sans-serif !important;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2 ,.woocommerce-order-received h3 {
	font-size: 23px;
	font-weight: 300 !important;
	text-transform: uppercase;
	padding-bottom: 0;
	color: #fff;
	text-align: center;
	letter-spacing: 15px;
	line-height: 1.3;
}

h3 {
	font-size: 23px;
	font-weight: normal; !important;

	padding-bottom: 0;
	color: #fff;


	line-height: 1.3;
}
h1 {
	border-bottom: 1px solid #fff;
	margin-bottom: 0;
	padding-bottom: 15px;
}

.started h2 {
	margin-bottom: 20px;
}
body.ascend .container-wrap {
	background: transparent !important; 
}

p {
	padding-bottom: 0;
	margin-bottom: .5em;
}
.main-content ul, 
.main-content ol {
	margin-bottom: .8em;
}
body .container-wrap, 
body .project-title {
	margin-top: 0;
	padding-top: 0;
}

/****** header ***/
html body #header-outer {
	position: relative;
	background: transparent;
	padding-top: 0 !important;
	top: 0 !important;
} 

body header#top {
	max-width: 251px;
	margin-top: 0 !important;
}
header#top #logo img {
	height: auto !important;
}

body header#top nav > ul {
	float: none;
}
body header#top nav > ul > li {
	float: none;
	margin-bottom: 60px;
}
body header#top nav > ul > li > a {
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 15px;
	color: #fff;
	padding: 0 !important;
	display: block;
	line-height: 1.2;
	font-weight: 300;
}
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li.current_page_item > a ,
body #header-outer:not([data-lhe="animated_underline"]) header#top nav .sf-menu li:hover > a{
	font-weight: normal;
	color: #fff !important;
}
header#top #logo {
	margin-bottom: 60px;
}

.logo-mobile {
		display: none;
	}


/***** footer ****/

.footer-menu {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 12px 20px;
	border-top: 1px solid #fff;

   
}
.home .footer-menu {
	border: 0;
}
.footer-menu a ,
.footer-menu {
	text-align: center;
	
	font-size: 14px;
	text-transform: uppercase;
	color: #fff;
	line-height: 1;
}

#menu-footer-menu {
	display: inline-block;
}
#menu-footer-menu li  {
	display: inline-block;
	
}
#menu-footer-menu li a {
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	padding: 0 5px;
	border-right: 1px solid #fff;

}
#menu-footer-menu li:last-of-type a {
	border-right: 0;
}
.footer-menu .credits {
	position: absolute;
	top: 12px;
	right: 20px;
	font-size: 12px;
	font-weight: 300;
	text-transform: none;
	min-width: 350px;
}
.cart-outer {
	display: inline-block;
	
}
.menu-top {
	text-align: right;
	margin-bottom: 20px;
}

.signin-register {
	color: #fff;
	display: inline-block;
	background-color: #F6921E;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 15px;
	vertical-align: top;
}
a.signin-register.mobile {
	display: none !important;
}
.my-account {
	color: #fff;
	display: inline-block;
	
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 15px;
	vertical-align: top;
}
.logout {
	color: #fff;
	display: inline-block;
	
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 300;
	padding: 10px 15px;
	vertical-align: top;
	margin-left: 10px;
}
.cart-icon-wrap {
	width: 38px;
	height: 38px;
	background: url(images/cart-icon.png) no-repeat bottom center;
}
.cart-icon-wrap .icon-salient-cart {
	display: none;
}

.cart-icon-wrap .cart-wrap {
    top: -10px;
    position: relative;
    text-align: center;
    margin-left: 10px;
}



/****** home *****/
.started {
	margin-bottom: 20px;
}
.step {
	float: left;
	width: 33.33%;
	background-color: rgba(255, 255, 255, .3);
	height: 250px;
	text-align: right;
	padding: 14px 18px;
	color: #fff;
	position: relative;
	overflow: hidden;
}
.step:nth-child(-n+2) {
	-webkit-box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
	box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
}
.step h3 {
	font-size: 25px;
	text-transform: uppercase;
	color: #fff;
	text-align: right;
	line-height: 1.1;
	margin-bottom: 0;
	letter-spacing: 0;
	font-weight: normal !important;
}
.step p , .step ul {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 0;

}
.step ul {
	margin-left: 0;
}
.step ul li {
	list-style: none;
	position: relative;
	margin-right: 12px;
}
.step ul li:after {
	content: ' -';
	right: -12px;
	display: inline-block;
	position: absolute;

}
.step-number {
	font-size: 85px;
	font-weight: bold;
	position: absolute;
	left: -10px;
	bottom: 0;
    color: rgba(187,187,187, .2);
    text-transform: uppercase;
    height: 43px;
    letter-spacing: 4px;
}
.rows-down {
	text-align: center;
	margin-bottom: 8px;
}
.theplans {

}
.plan {
	float: left;
	width: 33.33%;
	background-color: rgba(255, 255, 255, 1);
	height: 250px;
	padding: 14px 18px;
	color: #000;
	position: relative;
	overflow: hidden;
}
.work-step .plan {
	width: 100%;
	float: none;
	height: 122px;
	margin-bottom: 15px;
}
.plan:nth-child(-n+2) {
	-webkit-box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
	box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
}
.plan h3 {
	font-size: 26.5px;
	text-transform: uppercase;
	color: #000;
	text-align: left;
	line-height: 1.1;
	letter-spacing: 0;
	font-weight: normal !important;
}
.plan h3 span {
	color: #000 !important;
	font-weight: 300 !important;
}
.work-step .plan h3 {
	font-size: 26.4px;
}
.plan ul, .plan p {
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 0;
	
}
.plan ul {
    margin-left: 15px;
}
.plan ul li {
	
	margin-left: 0;
	list-style: none;
	position: relative;
}
.plan ul li:before {
	content: '- ';
	left: -12px;
	display: inline-block;
	position: absolute;

}
.plan.plan_A h3 {
	color: #B45F13;
}
.plan.plan_B h3 {
	color: #BFBFBF;
}
.plan.plan_C h3 {
	color: #EDDB00;
}

.plan .select {
	position: absolute;
	top: 10px;
	right: 15px;
	display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	background: #F6921E;
	line-height:1;
	padding: 17px 7px;
	/*-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;*/
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
    z-index: 10;
}
.plan .select:hover {
	background: #fbb869;
}
.plan-price {
	font-size: 110px;
	font-weight: bold;
	position: absolute;
	left: -10px;
	bottom: 0;
    color: rgba(187,187,187, .2);
    text-transform: uppercase;
    height: 57px;

}

.work-step .plan-price {
	font-size: 85px;
	height: 95px;
}
.plan-price .space {
	display: inline-block;
	width: 15px;
}
.plan_C .plan-price {
	color: rgba(223,206,5, .2);
}
.plan_B .plan-price {
	color: rgba(191,191,191, .2);
}
.plan_A .plan-price {
	color: rgba(180,95,19, .2);
}
.plan_C.month {
	color: rgba(223,206,5, 1);
}
.plan_B .month {
	color: rgba(191,191,191, 1);
}
.plan_C .month {
	color: rgba(180,95,19, 1);
}
.work-step {
	position: relative;
	overflow: hidden;
}
.work-step .description {
	margin-right: 20px;
	font-size: 15px;
}
.work-step hr {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}
.work-step .step-number {
	font-size: 124px;
	height: 58px;
}
.work-step:nth-child(1) .step-number,
.work-step:nth-child(3) .step-number {
	left: inherit;
	right: -10px;
	
}
.work-step:nth-child(2) {
	/*padding-right: 0*/
}
.per-month {
	font-size: 20px;
	font-weight: 300;
	display: inline-block;
	margin-left: 5px;
	color: #000;
	position: relative;
	top: -10px;
}
.per-month .month {
	font-weight: normal;
}
.top-item {
	float: right;
	width: 30%;
	max-width: 354px;
	position: relative;
}
.top-item .wrap-h2 {
	float: left;
	   /*width: 700px;
    height: 20px;*/
    position: relative;
    /*-webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);*/
  -webkit-transform: rotate(270deg);
    -webkit-transform-origin: right top;
    -moz-transform: rotate(270deg);
    -moz-transform-origin: right top;
    -ms-transform: rotate(270deg);
    -ms-transform-origin: right top;
    -o-transform: rotate(270deg);
    -o-transform-origin: right top;
    transform: rotate(270deg);
    transform-origin: right top;
  position: absolute;
  top: 0;
    right: 100%;
    white-space: nowrap; 
}
.top-item h2 {
	font-size: 19px;
 	letter-spacing: 14px;
  	margin-bottom: 0
}
.items {
	float: right;
	max-width: 301px;
	/*width: 100%;*/
	width: calc(100% - 45px);
}
.item {
	max-width: 301px;
	height: 200px;
	background-color: rgba(255, 255, 255, .4);
	padding: 15px 10px;
	position: relative;
	overflow: hidden;
}
.item:nth-child(-n+2) {
	-webkit-box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
}
.item .image {
	background-position: center center;
	background-repeat: no-repeat;
	height: 125px;
}
.item .price {
	color: #fff;
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 25px;
	font-weight: normal;
}

.item .price .value-note {
	font-size: 20px;
	font-weight: 300;
	display: block;
}
.item  h3 {
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	text-align: right;
	line-height: 1;
	position: absolute;
	right: 23px;
	bottom: 10px;
}
.item  h3 .name {
	font-weight: 300;
	display: block;
}
.item  .number {
	font-size: 240px;
	overflow: hidden;
	position: absolute;
	top: 0;
    right: -12px;
    bottom: 0;
    z-index: 0;
    color: rgba(255,255,255,.1);
    width: 100px;
    line-height: .8;
    font-weight: bold;
    text-align: right;
}
.wrap-started-plans {
	float: left;
	width: 68%;
	margin-top: -58px;

}
.store-slider .wrap-strict {
	min-height: inherit;
	margin: 0 auto;
	padding: 0 15px;
}

.store-slider .wrap-slider {
	background:  rgba(255,255,255, .4);

	
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.4);
    padding: 16px 0 46px;
}

/*** product list ***/
.text_on_hover.product .product-wrap {
	text-align: right;
	background-color: #fff;
	padding: 12px 0 32px 0;
	height: auto ;
	position: relative;
	margin: 0 7.5px;
}
.text_on_hover.product .product-wrap .photo {
	display: inline-block;
	width: 48%;
	float: left;
	vertical-align: top;
	margin-bottom: 10px;
}
.text_on_hover.product .product-wrap .info {
	vertical-align: top;
	width: 52%;
	float: right;
	padding: 0 14px 0 5px;
}
.text_on_hover.product .product-wrap .info .category {
	font-size: 18px;
	font-weight: normal;
	color: #000;
	line-height: 1.2;
	margin-bottom: 0;
}
.text_on_hover.product .product-wrap .info h3 {
	font-size: 18px;
	font-weight: 300 !important;
	color: #000;
	line-height: 1.2;
	margin-bottom: 3px !important;
	text-align: right !important;
	margin-top: 0 !important;
	letter-spacing: 0;
	text-transform: none;
}
.text_on_hover.product .product-wrap .price {
	font-size: 30px;
	color: #F6921E;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 20px;
}
.text_on_hover.product .product-wrap .price del {
	opacity: 1;
	color: #777 !important;
	font-size: 0.5em;
	line-height: 2;
	display: inline-block;
}
.product .product-wrap .btn-product {
	display: block;
	cursor: pointer;
}
html body  ul.products .text_on_hover.product .added_to_cart, 
html body  ul.products .text_on_hover.product .add_to_cart_button ,
html body.woocommerce ul.products .text_on_hover.product .add_to_cart_button{
	text-transform: none;
	display: block;
	text-align: center;
	font-size: 15px !important;
	background: #F6921E !important;
	padding: 5px !important;
	position: relative;
	/*margin-left: -5px !important;
	margin-right: -14px !important;*/
	clear: both;
	color: #fff !important;
	border: 0 !important;
	position: absolute !important;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	
}
body .text_on_hover.product .add_to_cart_button, 
body .text_on_hover.product a.added_to_cart {
	font-family: 'Oswald', sans-serif !important;
}
body .text_on_hover.product .add_to_cart_button:focus {
	top: inherit !important;
}

html body.woocommerce ul.products .text_on_hover.product a.added_to_cart.wc-forward {
	width: 100%;
    text-align: center;
    text-transform: none;
    background: #7b7777 !important;
    font-size: 15px !important;
    font-family: 'Oswald', sans-serif !important;
    
}

body .flexslider {
	background-color: transparent;
	margin: 0 106px;
	border: 0;
}
.wrap-slider .flexslider {
	/*height: 135px;*/
}
.flexslider .text_on_hover.product {
	margin-bottom: 0 !important;
}
.flexslider .slides > li {
	/*padding: 0 7.5px;*/
}
body .flex-direction-nav .flex-prev {
	left: -80px !important;
}
body .flex-direction-nav .flex-next {
	right: -80px !important;
}
body .flex-direction-nav a {
	background: transparent url(images/slider-previus.png) no-repeat center center !important;
	opacity: 1 !important;
	height: 72px;
	/*top: 50px;*/
	top: 40%;
	line-height: 23;
	overflow: hidden;
}
body .flex-direction-nav a.flex-next {
	background: transparent url(images/slider-next.png) no-repeat center center !important;
}
body .flex-direction-nav a:hover {
	background-color: transparent !important;
}
body .flex-direction-nav a:before {
	content: '' !important;
}
body.woocommerce div.product div.images {
	text-align: center;
}

body.woocommerce div.product div.images img {
	width: auto;
	max-width: 100%;
}
.archive .text_on_hover.product .product-wrap,
.related.products .text_on_hover.product .product-wrap {
		margin: 0;
	}


/***** page how it works ***/
.work-steps {
	margin-bottom: 60px;
}

.faq-section {
	padding: 35px 32px;
	background-color: rgba(255,255,255,.4);
}
.work-step {
	padding: 35px 0 35px 32px;
	background-color: rgba(255,255,255,.4);
}
.work-steps .work-step:nth-child(-n+2) {
	-webkit-box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
	box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
}
.work-step .icon, 
.faq-section .icon{
	width: 164px;
	float: left;
	text-align: center;
}
.work-step h2,
.faq-section h2  {
	text-align: left;
	font-size: 35px;
	letter-spacing: 0;
	font-weight: normal !important;
	margin-bottom: 5px;
}
.work-step  .texte,
.faq-section  .faqs  {
	margin-left: 195px;
	font-size: 20px;
	font-weight: 300 !important;
	line-height: 1.4;

}
.work-step  .texte p ,
.faq-section  .texte p{
	font-weight: 300 !important;
}
.work-step  .texte .col_1_3 ,
.faq-section  .texte .col_1_3{
	width: 33.2%;
	margin-right: 2%;
	float: left;
}
.work-step  .texte .col_1_3.accent,
.faq-section  .texte .col_1_3.accent {
	font-size: 25px;
	font-weight: normal;
}
.work-step  .texte .col_2_3 {
	width: 64.8%;
	float: left;
}
.work-step  .texte .col_2_3 .sous_col_1_3 {
	width: 33.33333%;
	float: left;
}
.work-step  .texte .col_2_3 .sous_col_1_3:nth-child(3) .plan {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}	
.faqs .faq {
	margin-bottom: 20px;
	
}
.faqs .faq h3 {
	font-size: 20px;
	font-weight: normal !important;
	color: #fff;
	margin-bottom: 0;
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
}
.faqs .faq p {
	font-size: 20px;
	font-weight: 300;
}

/**** ***/

.page-template-template-simplepage h2 {
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
	margin-top: 18px;
}
.page-template-template-simplepage h3 {
	text-align: left;
	letter-spacing: 0;
	text-transform: none;
	font-size: 18px;
	margin-top: 18px;
}

/******** page contact ******/
.contact .wrap {
	padding-top: 25px;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 8.5px;
	max-width: 615px;
	margin: 0 auto;
}
.contact .gform_wrapper {
	padding-top: 40px;
}
.contact .gform_wrapper .gfield {
	width: 48%;
	float: left;
	margin-right: 4%;
	margin-bottom: 15px;
}
.contact .gform_wrapper .gfield.subject,
.contact .gform_wrapper .top_label .gfield_error.subject   {
	width: 100%;
	margin-right: 0;
}
.contact .gform_wrapper .gfield:nth-child(2n) {
	margin-right: 0;
}
.contact .gform_wrapper ul li.gfield {
	padding: 0;
    clear: none;
    position: relative;
}
.contact .gform_wrapper .gfield:nth-child(2n+1) {
	clear: both;

}
.contact .gform_wrapper .gfield:nth-child(6) {
	width: 100% !important;
	clear: both;
}
.contact .gform_wrapper .top_label input.medium, 
.contact .gform_wrapper .top_label select.medium {
	width: 100%;
}
body .gform_wrapper .top_label .gfield_label {
	display: none !important;
}
.contact .gform_wrapper input[type=text], 
.contact .gform_wrapper input[type=url], 
.contact .gform_wrapper input[type=email], 
.contact .gform_wrapper input[type=tel], 
.contact .gform_wrapper input[type=number], 
.contact .gform_wrapper input[type=password], 
.contact .gform_wrapper textarea {
	background-color: rgba(255,255,255,.6) !important;
	color: #fff !important;
	font-size: 20px !important;
	font-weight: 300 !important;
	border: 0 !important;
	width: 100% !important;
	line-height: 1;
}
.contact .gform_wrapper .ginput_container {
	max-width: inherit!important;
	
}

.contact ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
.contact ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
.contact :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
.contact :-moz-placeholder { /* Firefox 18- */
  color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}

.contact .gform_wrapper .gform_footer input[type=submit] {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	background-color: #F6921E;
	padding: 10px 13px 12px;
	font-family: 'Oswald', sans-serif !important;
}
.contact .gform_wrapper .gform_footer input[type=submit]:hover {
	background-color: rgba(246,146,30, .6) !important;
}
.contact .gform_wrapper .gform_footer {
	margin: 0;
	padding: 0;
}
.contact .gform_wrapper div.validation_error {
	padding: 15px;
	font-size: 13px;
}
.contact .gform_wrapper .top_label .gfield_error {
	width: 48%;
	border: 0!important;
	background-color: transparent !important;
	padding: !important;
}

.contact .gform_wrapper .top_label .gfield_error input, 
.contact .gform_wrapper .top_label .gfield_error textarea {
	border-bottom: 2px solid #790000;
}
.contact .gform_wrapper .top_label .gfield_description.validation_message {
	padding: 5px !important;
	background-color: #fff;
	margin-top: 0 !important;
}
.contact .gform_wrapper li.gfield.gfield_error.gfield_contains_required {
	margin-top: 0;
	margin-bottom: 15px !important;
	padding: 0 !important;
}
.contact .gform_wrapper .gfield_description {
	width: 100%;
}
.contact .gform_wrapper li.gfield.gfield_error.gfield_contains_required div.ginput_container {
	margin-top: 0 !important;
}
.contact img.size-full {
	margin-right: 10px;
}
.contact .gform_wrapper .top_label .gfield_label {
	font-weight: normal;
    font-size: 18px;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 0 10px;
    font-family: 'Oswald', sans-serif !important;
}
.contact .gform_wrapper .top_label .actif .gfield_label {
	display: inline-block !important;
	position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #4A4A4A;
    margin:0;
    
    padding-top: 20px;
}
.contact .gform_wrapper .top_label .actif input,
.contact .gform_wrapper .top_label .actif textarea {
	padding-right: 145px !important;
}
body .gform_wrapper .gfield_required {
	display: none;
}
body .gform_wrapper label.gfield_label + div.ginput_container {
	margin-top: 0 !important;
}
.contact .wrap > p > span {
	margin-right: 25px;
	display: inline-block;
}


/***** page simple *****/
.simple-page .wrap {
	max-width: 800px;
	margin: 40px auto 0;
}

/***** page refer a friend ****/
.container-wrap .refer_friend_form input[type="email"] {
	color: #fff;
}
.refer_friend .wrap {
	padding-top: 25px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 8.5px;
    max-width: 615px;
    margin: 0 auto;
    text-align: left;
}
.refer_friend_form form {
	position: relative;
	margin-bottom: 10px;
}
.refer_friend_form {
	padding-top: 25px;
}
.refer_friend_form .success {
	color: green;
	font-size: 15px;
	font-weight: normal;
}
.refer_friend_form .error {
	color: red;
	font-size: 18px;
	font-weight: normal;
}
.refer_friend_form .theInput {
	margin-right: 105px;
}
.refer_friend_form .theInput input[type='email']{
	background-color: rgba(255,255,255,.6) !important;
	color: #fff !important;
	font-size: 20px !important;
	font-weight: 300 !important;
	border: 0 !important;
	width: 100% !important;
	line-height: 1;
}
.refer_friend_form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
.refer_friend_form ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
.refer_friend_form :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
.refer_friend_form :-moz-placeholder { /* Firefox 18- */
  color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
.refer_friend_form .theSend {
	position: absolute;
	top:0;
	right: 0;
	bottom: 0;
}
.ascend .refer_friend_form .theSend input[type='submit'] {
	color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #F6921E;
    padding: 14.5px 32px !important;
    font-family: 'Oswald', sans-serif !important;
    width: 100%;
}
.refer_friend_form .theSend input:hover{
	background-color: rgba(246,146,30, .6) !important;
}


/***** page my account ****/
body.woocommerce-account .woocommerce-MyAccount-navigation {
	float: none;
	width: auto;
	padding-bottom: 10px;
	margin-bottom: 15px;
	border-bottom: 1px solid #fff;
}
body.woocommerce-account .woocommerce-MyAccount-navigation ul {
	margin-left: 0;
	margin-bottom: 0;
}
body.woocommerce-account .woocommerce-MyAccount-navigation li {
	display: inline-block;
	margin-bottom: 5px;
	float: left;
	width: 21.3%;
	margin-right: 2%;

}
body.woocommerce-account .woocommerce-MyAccount-navigation li:last-of-type {
	width: 30.1%;
	margin-right: 0;
}
body.woocommerce-account .woocommerce-MyAccount-navigation li a {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 8px;
	padding: 10px 5px;
	background: #985B15;
	display: block;
	font-weight: 300;
	text-align: center;
}
body.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
	background: #F6921E;
}

body.woocommerce-account .woocommerce-MyAccount-content {
	float: none;
	width: auto;
	background: rgba(255,255,255,.6) !important;
	padding: 39px 26px ;
	min-height: 233px;
}
body.woocommerce-account .woocommerce-MyAccount-content .edit-account {
	/*padding: 14px 26px 39px;*/
}
.error {
	color: red;
}
.woocommerce-account form h2:first-child {
	padding-top: 0;
}
.woocommerce-account .main-content .woocommerce {
	max-width: 1030px;
	margin: 0 auto;
}
body.woocommerce-account .woocommerce table.shop_table, 
body.woocommerce-page table.shop_table {
	background: transparent ;
	color: #fff ;
}
body .main-content table tr {
	background: transparent !important;
}

.woocommerce-account h1 {
	padding-bottom: 0;
	border: 0;
	margin-bottom: 10px;
}

.woocommerce-account h2 ,
.woocommerce-account h3 {
	font-size: 25px;
	font-weight: normal !important;
	letter-spacing: 15px;
	text-transform: uppercase;
	color: #fff;
	text-align: left;
	padding-bottom: 0;
	padding-top: 25px;
	clear: both;
	margin-bottom: 5px;
}
body .woocommerce-MyAccount-content address {
		font-size: 25px !important;
		line-height: 1.2;
	}
.woocommerce-account ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.woocommerce-account ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.woocommerce-account :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.woocommerce-account :-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.woocommerce-account .container-wrap input[type="text"], 
.woocommerce-account .container-wrap textarea, 
.woocommerce-account .container-wrap input[type="email"], 
.woocommerce-account .container-wrap input[type="password"], 
.woocommerce-account .container-wrap input[type="tel"], 
.woocommerce-account .container-wrap input[type="url"], 
.woocommerce-account .container-wrap input[type="search"], 
.woocommerce-account .container-wrap input[type="date"] {
	border: 1px solid #fff !important;
	padding: 12px 10px 8px !important;
	color: #fff !important;
	font-size: 20px  !important;
	font-family: 'Oswald', sans-serif !important;
}
.woocommerce-account .container-wrap input[type="text"]:focus, 
.woocommerce-account .container-wrap textarea:focus, 
.woocommerce-account .container-wrap input[type="email"]:focus, 
.woocommerce-account .container-wrap input[type="password"]:focus, 
.woocommerce-account .container-wrap input[type="tel"]:focus, 
.woocommerce-account .container-wrap input[type="url"]:focus, 
.woocommerce-account .container-wrap input[type="search"]:focus, 
.woocommerce-account .container-wrap input[type="date"]:focus {
	border: 1px solid #fff !important;
}
.woocommerce-account .col_1_3 {
	float: left;
	width: 31.33333%;
	margin-right: 3% !important;

}
.woocommerce-account .col_1_3.last {
	margin-right: 0 !important;
}
.woocommerce-account .col_2_3 {
	float: left;
	width: 65.6666%;
	margin-right: 3% !important;

}
.woocommerce-account.woocommerce-page input[type="submit"].button {
	background: #F6921E !important;
	padding: 13px 15px !important;
	font-size: 20px !important;
	font-weight: 300 !important;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
	letter-spacing: 8px;
}
.wrap_btn_credit {
	float: right;
}
.mycredits {
	background: #fff;
	padding: 10px 15px;
	color: #F6921E;
	font-weight: 300;
	font-size: 20px;
	float: right;
	margin-bottom: 20px;
	display: inline-block;
}
.mycredits .title {
	text-transform: uppercase;
	font-weight: normal;
}
.mycredits #mycredits {
	display: inline-block;
	margin-left: 15px;
	margin-right: 5px;
	
}
.refer_btn {
	background: rgba(255,255,255,.9);
	padding: 10px 15px;
	color: #F6921E;
	font-weight: normal;
	font-size: 20px;
	float: left;
	margin-bottom: 20px;
	position: relative;
	display: inline-block;
	text-align: center;
	margin-right: 15px;
	text-transform: uppercase;
	width: 197px;
}
.refer_btn .hover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	padding: 10px 15px;
	text-align: center;
	color: #fff;
	font-weight: normal;
	font-size: 20px;
	background: #F6921E;
}
.refer_btn:hover .hover {
	opacity: 1;
}

.woocommerce-MyAccount-content th,
.woocommerce-MyAccount-content td {
	border: 2px solid #FFFFFF !important;
	font-size: 20px !important;
	text-align: center !important;
	font-weight: 300;
	text-transform: uppercase;
}
.woocommerce-MyAccount-content th {
	font-weight: normal;
}
.woocommerce-MyAccount-content td.order-actions {
	padding: 0 !important;
	background: transparent;
}
.woocommerce-MyAccount-content td.order-actions a.button {
	padding: 16px 10px !important;
	display: block;
	margin: 0 !important;
	background: #F6921E !important;
	font-size: 20px !important;
	text-transform: uppercase !important;
	
}
.woocommerce-MyAccount-content td.order-actions a.button:hover {
	background-color: rgba(246,146,30, .4) !important;
}
.woocommerce-Address {
	font-size: 20px;
	line-height: 1.4;
}
.woocommerce-Address .woocommerce-Address-title .edit {
	display: inline-block;
	float: right;
	border: 1px solid #fff;
	padding: 2px 10px;
	font-size: 16px;
}
.woocommerce-MyAccount-content .order {
	margin-bottom: 15px;
}
.woocommerce-MyAccount-content .shop_table.customer_details td {
	word-break: break-all;
}

.my_crates {
	overflow: auto;
	max-height: 450px;
}
.my_crates .crate {
	margin-bottom: 25px;
}
.my_crates .crate h2 {
	font-size: 25px;
	letter-spacing: 15px;
	border-bottom: 2px solid #fff;
	padding-bottom: 5px;
	margin-bottom: 20px;
	padding-top: 0;
}
.my_crates .crate .crate-image {
	width: 25%;
	float: left;
	text-align: center;
	position: relative;
}
.my_crates .crate .crate-image img {
	max-width: 240px;
	width: 100%;
}
.my_crates .crate .crate-image .opening {
	display: none;
}
.my_crates .crate .crate-image.open .opening {
	display: inline-block;
}
.my_crates .crate .crate-image.open .close {
	display: none;
}
.my_crates .crate .crate-image .opening_gift {
	width: 0;
	-webkit-transition: all 1000ms ;
    -moz-transition: all 1000ms ;
    -o-transition: all 1000ms ;
    transition: all 1000ms ;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.my_crates .crate .crate-image.open_gift .opening_gift {
	width: 100%;
	max-width: 75%;

}
.my_crates .crate .crate-info {
	width: 50%;
	float: left;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	padding-top: 27px;
	padding-left: 20px;
	padding-right: 20px;
}
.my_crates .crate .crate-info .opened{
	display: none;
}
.my_crates .crate .crate-info.open .opened{
	display: block;
}
.my_crates .crate .crate-info.open .received{
	display: none;
}

.my_crates .crate .crate-info .subscription {
	color: #4A4A4A;
}
.my_crates .crate .crate-btn {
	width: 25%;
	float: left;
	padding-top: 27px;

}
body .woocommerce a.button.wcs-switch-link {
	display: block;
    max-width: 160px;
    margin: 5px auto 0;
}
.my_crates .crate .crate-btn .btn {
	padding: 8px;
	color: #fff;
	font-weight: 200;
	font-size: 20px;
	letter-spacing: 8px;
	text-align: center;
	background: #F6921E;
	margin-right: 5%;
	text-transform: uppercase;
	cursor: pointer;
	display: block;
}
.my_crates .crate .crate-btn .btn.view-crate {
	background: #4A4A4A;
	display: none;
}
.my_crates .crate .crate-btn.opened .view-crate {
	display: block;
}
.my_crates .crate .crate-btn.opened .open-crate {
	display: none;
}
.win_producs  {
	text-align: center;
	
}
.wrap_producs {
	display: none;
}
.win_producs h2 {
	margin-bottom: 25px;
	padding-bottom: 5px;
	border-bottom: 2px solid #fff;
}
.win_producs .wrap_win {
	min-height: 225px;
	position: relative;
	text-align: center;
}
.win_producs .wrap_win img.opening {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
    margin: 0 auto;
    max-width: 340px;
    z-index: 0;
}
.win_producs .opened .win_produc {
	width: 30%;
}
.win_producs .win_produc {
	position: relative;
	opacity: 0;
	display: inline-block;
	max-width: 0;
	max-height: 0;
	width: 30%;
	display: inline-block;
	margin: 0 1%;
	
	padding: 0;
	overflow: hidden;
	background: rgba(0,0,0,.6) !important;
	-webkit-transition: all 1000ms ;
        -moz-transition: all 1000ms ;
        -o-transition: all 1000ms ;
        transition: all 1000ms ;
    
    z-index: 1;

}
.win_producs .opened .win_produc {
	max-width: 500px;
	max-height: 5000px;
	padding: 15px;
	border: 1px solid #fff;
	opacity: 1;
}
.win_producs .win_produc .produc_img {
	margin-bottom: 25px;
}
.win_producs .win_produc .cat {
	font-size: 25px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 1;
    display: block !important;
    margin-bottom: 5px;
    text-align: left;

}
.win_producs .win_produc h3 {
	font-size: 25px;
    font-weight: 200 !important;
    padding-right: 110px;
    text-align: left;
    margin-bottom: 30px;
    letter-spacing: 0;
    text-transform: none;
    padding: 0;
    margin-bottom: 0;

}
body div.dark_rounded {
	padding: 15px;

	background: rgba(255,255,255,.6) !important;
	width: 90% !important;
    max-width: 1024px;
}
body .pp_content {
	width: 100% !important;
}

html body a.pp_close {top: 10px;}
html body a.pp_close .icon-default-style[class^="icon-"] {
	color: #000 !important;
	font-size: 30px!important;
}

/****** page store ****/


/****** page 1 product ****/
.single-product .product {
	max-width: 985px;
	margin: 0 auto;
}
body.woocommerce a.woocommerce-main-image img {
	margin: 0;
}
body.woocommerce div.product div.summary {
	background: #fff;
	color: #000;
	padding: 32px 25px 44px;
	position: relative;
}
html body.single-product div.product .product_title {
	color: #000;
	font-size: 35px;
	font-weight: 300;
	padding-right: 110px;
	text-align: left;
	margin-bottom: 30px;
	letter-spacing: 0;
	text-transform: none;
}
html body.single-product div.product .category {
	color: #000;
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 0;
	line-height: 1;
}
html body.single-product div.product div[itemprop= 'offers'] {
	position: absolute;
	top: 32px;
	right: 25px;
	color: #F6921E;
	font-size:  35px;
	font-weight: normal;
}
.related.products .product .product-wrap .info h3 {
	margin-top: 0 !important;
	padding-top: 0;
}
body.woocommerce ul.products li.product .price ,
body.woocommerce ul.products li.product .price span {
	color: #F6921E !important;
	font-family: 'Oswald', sans-serif !important;
	font-weight: bold;
}
body.woocommerce .summary .price {
	color: #F6921E !important;
	font-size:  35px !important;
	font-weight: normal !important;
	padding: 0;
	margin-top: 0;
}
body.woocommerce .single-product-summary .entry-summary p {
	padding-bottom: 0;
	margin-bottom: .8em;
	font-size: 14px;
	font-weight: 300;
}
body.woocommerce-page div[data-project-style="text_on_hover"] button[type="submit"].single_add_to_cart_button {
	background: #F6921E !important;
	font-size: 20px !important;
	font-weight: normal !important;
	color: #fff !important;
	padding: 16px 10px !important;
	display: block  !important;
	float: none;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	margin-left: 0;
	text-transform: none;
}
body.woocommerce div.product form.cart {
	margin-top: 20px;
	margin-bottom: 20px !important;
}
body.woocommerce .products.related {
	background: #fff;
	padding: 18px 22px 0;
}
body.woocommerce .products.related h2 {
	color: #000;
}
body.woocommerce .products.related .product-wrap {
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.64);
	-moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.64);
	box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.64);
	position: relative;
}
body.woocommerce .products.related .product {
	margin-bottom: 20px !important;
}
body.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.plus,
body.woocommerce div[data-project-style="text_on_hover"] .cart .quantity input.minus {
	background: #F6921E !important;
}



/***** cart page ****/
html body .woocommerce table.shop_table ,
html body .woocommerce address {
	background: #fff;
	color: #000;
	font-size: 13px;
}
html body .woocommerce address {
	padding: 10px;
}
body.woocommerce-account .main-content address {
	background: transparent;
	color: #fff;
	font-size: 20px !important;
	border: 2px solid #fff;
}
html body .woocommerce .woocommerce-info.wc_points_redeem_earn_points ,
html body .woocommerce .woocommerce-info.wc_points_rewards_earn_points{
	display: none;
}

body .woocommerce table.cart th {
	font-size: 20px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
body .woocommerce table.cart td,
body .woocommerce table.cart th {
	border-bottom: 1px solid #F6921E;
}
body .woocommerce table.cart td {
    padding: 0 10px!important;
}
body .woocommerce table.cart td.product-thumbnail {
	overflow: hidden;
}
body .woocommerce table.cart td.product-thumbnail img {
	-webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.64);
}
body .woocommerce table.cart td.product-price,
body .woocommerce table.cart td.product-subtotal {
	color: #F6921E;
	font-size: 20px;
	font-weight: normal;;
}
body .woocommerce table.cart td.product-name,
body .woocommerce table.cart td.product-name a {
	font-size: 20px;
	color: #000;

}

body .checkout .woocommerce-shipping-fields, 
body .checkout .woocommerce-billing-fields,
.checkout .col2-set .col-2 {
	background: rgba(255,255,255, .6);
	padding: 15px 10px;
}
.cart_item .product-remove {
	width: 10%;
	text-align: center;
}
.cart_item .product-remove .remove {
	display: inline-block;
}
.checkout .woocommerce-checkout-review-order-table .product-info h4,
.checkout .woocommerce-checkout-review-order-table .product-info .amount {
	color: #fff !important;
}


.woocommerce-cart .woocommerce a.button, .woocommerce-page a.button,
.woocommerce-checkout.woocommerce-page input.button {
	font-size: 20px !important;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 300 !important;
	letter-spacing: 1.6px;
	background-color: #F6921E !important;
	padding: 16px !important;
	font-family: 'Oswald', sans-serif !important;
}
.woocommerce-cart .woocommerce a.button, .woocommerce-page a.button:hover,
.woocommerce-checkout.woocommerce-page input.button:hover {
	background-color: rgba(246, 146, 30, .4) !important;

}
.woocommerce-cart .woocommerce input.button {
	font-size: 20px !important;
	color: #fff !important;
	text-transform: uppercase;
	font-weight: 300 !important;
	letter-spacing: 1.6px;
	padding: 16px !important;
	font-family: 'Oswald', sans-serif !important;
	background-color: #333333 !important;
	padding: 10px !important;
}
.checkout .col2-set h3 {
	font-size: 30px!important;
    line-height: 40px!important;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 0;
    text-align: center;
    letter-spacing: 15px;
}
.checkout .col2-set .col-1 label {
	display: none !important;
}
.container-wrap .checkout .col2-set input[type=text], 
.container-wrap .checkout .col2-set input[type=url], 
.container-wrap .checkout .col2-set input[type=email], 
.container-wrap .checkout .col2-set input[type=tel], 
.container-wrap .checkout .col2-set input[type=number], 
.container-wrap .checkout .col2-set input[type=password], 
.container-wrap .checkout .col2-set textarea {
	background-color: transparent; !important;
	color: #fff !important;
	font-size: 20px !important;
	font-weight: 300 !important;
	border: 1px solid #fff !important;
	width: 100% !important;
	line-height: 1;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
	    padding: 12px 16px 10px !important;
}
.checkout .col2-set ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff !important;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.checkout .col2-set ::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.checkout .col2-set :-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.checkout .col2-set :-moz-placeholder { /* Firefox 18- */
  color: #fff !important;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif !important;
}
.checkout .col2-set .col-2 {
	
}
body .woocommerce table.order-review th, 
body.woocommerce-page table.order-review th, 
body .woocommerce table.order-review tfoot td, 
body .woocommerce table.order-review tfoot th, 
body.woocommerce-page table.shop_table tfoot td, 
body.woocommerce-page table.shop_table tfoot th {
	color: #fff !important;
	font-family: 'Oswald', sans-serif !important;
}
body #add_payment_method #payment div.payment_box, 
body.woocommerce-cart #payment div.payment_box, 
body.woocommerce-checkout #payment div.payment_method_paypal {
	color: #fff !important;
	display: none !important;
	padding-top: 0;
}
body.woocommerce-checkout #payment div.payment_box {
	color: #fff;
}

body .woocommerce .payment_box p {
	padding-left: 0;
}


body.ascend .cart .quantity input.plus{
	width: 20px !important;
	clear: both;
	height: 19px;
	background:  #F6921E;
	border: 0;
	vertical-align: top !important;
    line-height: 0;
    margin-top: -1px;
    color: #fff;
}
body.ascend .cart .quantity input.minus {
	width: 20px !important;
	height: 19px;
	background:  #F6921E;
	border: 0;
	vertical-align: top;
	line-height: 0;
	color: #fff;
}
body.ascend .cart .quantity input.minus:hover ,
body.ascend .cart .quantity input.plus:hover {
	background:  #F6921E !important;
	opacity: .8;
}
body .woocommerce .cart .quantity input.qty {
	border:1px solid #F6921E !important;
	border-right: 0 !important;
	float: left !important;
	height: 40px !important;
}

body.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	background-color: #F6921E !important;
	padding: 16px !important;
}
body.woocommerce-page table.cart td.actions .coupon {
	padding: 15px 15px 15px 0;
	text-align: left;
	border: 0;
}
body .woocommerce input#coupon_code {
	border: 1px solid #000 !important;
	padding: 12px 16px !important;
	margin: 0;
}
body.woocommerce-cart .woocommerce .coupon input.button {
	background: #F6921E !important;
	min-width: 168px;
	
}
body.woocommerce-cart .woocommerce .coupon input.button:hover {
	opacity: .8;
}
body.woocommerce-cart .woocommerce .coupon p {
	font-size: 15px;
	font-weight: 300;
	margin: 15px 0;
}
.woocommerce .cart-collaterals .cart_totals {
	background: rgba(255,255,255, .6);
    padding: 15px 10px;
}

body .woocommerce table.cart td.product-quantity {
	width: 105px;
}
body .woocommerce table.cart td.product-thumbnail img {
	width: 90px !important;
	height: auto !important;
}

body .woocommerce-cart .cart-collaterals .cart_totals p small {
	color: #fff;
}

body .woocommerce table.my_account_orders .order-actions .button,
body .woocommerce a.button, .woocommerce-page a.button {
	background: #F6921E !important;
	color: #fff !important;
}
body.woocommerce ul.products li.product .price del, 
body.woocommerce ul.products li.product .price del span, 
body.woocommerce-page ul.products li.product .price del,
body.woocommerce-page ul.products li.product .price del span,
body.woocommerce div.product p.price del, 
body.woocommerce div.product span.price del,
body .woocommerce table.cart td.product-price del {
	opacity: 1;
	color: #777 !important;
	
}
body .woocommerce table.cart td.product-price del {
	font-size: 0.67em;
}
/**** popup login /register ****/

#login-popup{
	display: none;
	text-align: center;
	color: #000;
	font-size: 15px;
	text-transform: uppercase;
}

#login-popup2{
	text-align: center;
	color: #000;
	font-size: 15px;
	text-transform: uppercase;
}
#login-popup a ,body.woocommerce-account div.woocommerce div#customer_login a,
#login-popup2 a {
	color: #000;
	font-size: 15px;
}
#login-popup h2 ,
#login-popup2 h2 {
	text-align: center;
	color: #F6921E;
	font-size: 25px;
	letter-spacing: 15px;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 2px solid #F6921E;
	font-weight: normal !important;
}
#login-popup .form-row ,body.woocommerce-account div.woocommerce div#customer_login .form-row,
#login-popup2 .form-row{
	margin-bottom: 20px;
}
body .woocommerce form.checkout_coupon, 
body .woocommerce form.login, 
body .woocommerce form.register {
	margin: 20px 0;
	padding: 0 20px;
	border: none;
	text-align: center;
}
body.woocommerce-checkout .woocommerce form.checkout_coupon {
	margin-top: -25px;
    background-color: rgba(255,255,255, .6);
    padding-top: 10px;
    color: #fff;
    border-radius: 0;
}
body.woocommerce-checkout .woocommerce form.checkout_coupon input[type='text']#coupon_code {
	font-size: 20px !important;
    font-weight: 300 !important;
    border: 1px solid #fff !important;
    text-transform: uppercase;
    color: #fff !important;
}
body.woocommerce-checkout .woocommerce form.checkout_coupon ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
    font-size: 20px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}
body.woocommerce-checkout .woocommerce form.checkout_coupon ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
    font-size: 20px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}
body.woocommerce-checkout .woocommerce form.checkout_coupon :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
    font-size: 20px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}
body.woocommerce-checkout .woocommerce form.checkout_coupon :-moz-placeholder { /* Firefox 18- */
  color: #fff;
    font-size: 20px !important;
    font-weight: 300 !important;
    text-transform: uppercase;
}



body.woocommerce-checkout .woocommerce form.checkout_coupon .clear {
	padding: 0;
}
.logo-login {
	text-align: center;
	margin-bottom: 40px;
}
#login-popup #customer_login,
#login-popup2 #customer_login {
	max-width: 600px;
	margin: 0 auto;
}

body.woocommerce-account div.woocommerce div#customer_login input[type=text], 
body.woocommerce-account div.woocommerce div#customer_login textarea, 
body.woocommerce-account div.woocommerce div#customer_login input[type=email], 
body.woocommerce-account div.woocommerce div#customer_login input[type=password], 
body.woocommerce-account div.woocommerce div#customer_login input[type=tel], 
body.woocommerce-account div.woocommerce div#customer_login input[type=url], 
body.woocommerce-account div.woocommerce div#customer_login input[type=search], 
body.woocommerce-account div.woocommerce div#customer_login input[type=date],

#login-popup input[type=text], 
#login-popup textarea, 
#login-popup input[type=email], 
#login-popup input[type=password], 
#login-popup input[type=tel], 
#login-popup input[type=url], 
#login-popup input[type=search], 
#login-popup input[type=date],
#login-popup2 input[type=text], 
#login-popup2 textarea, 
#login-popup2 input[type=email], 
#login-popup2 input[type=password], 
#login-popup2 input[type=tel], 
#login-popup2 input[type=url], 
#login-popup2 input[type=search], 
#login-popup2 input[type=date]  {
	border: 1px solid #000 !important;
	background-color: #fff;
	font-family: 'Oswald', sans-serif !important;
	box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    color: #9B9B9B !important;
    font-size: 20px;
    padding: 4px 10px!important;
    font-weight: 300;
    line-height: 1;
}
body.woocommerce-account div.woocommerce div#customer_login input[type="submit"].button,
body.woocommerce-account div.woocommerce div#customer_login input[type="submit"].button,

#login-popup .woocommerce input[type="submit"].button,
#login-popup input[type="submit"].button,
#login-popup2 .woocommerce input[type="submit"].button,
#login-popup2 input[type="submit"].button  {
	width: 100%;
	background: #F6921E !important;
	font-size: 20px !important;
	font-weight: normal !important;
	letter-spacing: 12px;
	text-align: center;
	border-radius: 0 !important;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif !important;
}
#login-popup .half ,body.woocommerce-account div.woocommerce div#customer_login .half,
#login-popup2 .half {
	float: left;
	width: 48%;
}
#login-popup .half.last ,body.woocommerce-account div.woocommerce div#customer_login .half.last,
#login-popup2 .half.last {
	float: right;
}

#login-popup ::-webkit-input-placeholder, 
body.woocommerce-account div.woocommerce div#customer_login ::-webkit-input-placeholder{
  text-align: center !important;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9B9B9B;
}
#login-popup2 ::-moz-placeholder,
body.woocommerce-account div.woocommerce div#customer_login ::-moz-placeholder
{ /* Firefox 19+ */
  text-align: center !important;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  color: #9B9B9B;
}
#login-popup2 :-ms-input-placeholder 
{ /* IE 10+ */
  text-align: center !important;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
  color: #9B9B9B;
}
#login-popup :-moz-placeholder ,
body.woocommerce-account div.woocommerce div#customer_login :-moz-placeholder ,
#login-popup2 :-moz-placeholder { /* Firefox 18- */
  text-align: center !important;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 300;
  color: #9B9B9B;
}

#login-popup .smaller-text ::-webkit-input-placeholder,
body.woocommerce-account div.woocommerce div#customer_login .smaller-text ::-webkit-input-placeholder,
#login-popup2 .smaller-text ::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
	font-size: 15px;
  letter-spacing: 3px;
}
#login-popup .smaller-text ::-moz-placeholder,
body.woocommerce-account div.woocommerce div#customer_login .smaller-text ::-moz-placeholder,
#login-popup2 .smaller-text ::-moz-placeholder { /* Firefox 19+ */
   letter-spacing: 3px;
   font-size: 15px;
}
body.woocommerce-account div.woocommerce div#customer_login .smaller-text :-ms-input-placeholder ,
#login-popup .smaller-text :-ms-input-placeholder ,
#login-popup2 .smaller-text :-ms-input-placeholder { /* IE 10+ */
   letter-spacing: 3px;
   font-size: 15px;
}
#login-popup .smaller-text :-moz-placeholder,
body.woocommerce-account div.woocommerce div#customer_login .smaller-text :-moz-placeholder,
#login-popup2 .smaller-text :-moz-placeholder { /* Firefox 18- */
   letter-spacing: 3px;
   font-size: 15px;
}
body.woocommerce-account div.woocommerce div#customer_login .confirm-pass ::-webkit-input-placeholder,
#login-popup .confirm-pass ::-webkit-input-placeholder,
#login-popup2 .confirm-pass ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	font-size: 15px;
  letter-spacing: 3px;
}
body.woocommerce-account div.woocommerce div#customer_login .confirm-pass ::-moz-placeholder,
#login-popup .confirm-pass ::-moz-placeholder,
#login-popup2 .confirm-pass ::-moz-placeholder { /* Firefox 19+ */
   letter-spacing: 3px;
   font-size: 15px;
}
body.woocommerce-account div.woocommerce div#customer_login .confirm-pass :-ms-input-placeholder ,
#login-popup .confirm-pass :-ms-input-placeholder ,
#login-popup2 .confirm-pass :-ms-input-placeholder { /* IE 10+ */
   letter-spacing: 3px;
   font-size: 15px;
}
body.woocommerce-account div.woocommerce div#customer_login .confirm-pass :-moz-placeholder,
#login-popup .confirm-pass :-moz-placeholder,
#login-popup2 .confirm-pass :-moz-placeholder { /* Firefox 18- */
   letter-spacing: 3px;
   font-size: 15px;
}
.fancybox-inner , .fancybox-wrap {
	width: 85% !important;
	max-width: 900px !important;
}
.fancybox-inner {
	margin-left: auto !important;
	margin-right: auto !important;
}
.fancybox-lock body .fancybox-overlay {
	z-index: 9999;
}
.link-mobile {
	display: none;
}
.or-choice {
	display: block;
	font-size: 20px;
	letter-spacing: 12px;
	margin-bottom: 20px;
	color: #000;
	padding-top: 15px;
}

div#login-popup_myaccount.my_account{
	display: block;
	position: relative;
}
div#login-popup_myaccount.my_account div.logo-login{
	display: none;
}
#login-popup_myaccount{
    z-index: 999;
    top: 50px;
    left: 0;
    right: 0;
    width: 85%;
    margin: 0 auto;
    max-width: 990px;
    padding: 40px 25px 25px 25px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: #878787;
    font-size: 11px;
    z-index: 999999;
}
#login-popup {
    display: none;
    z-index: 999;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 85%;
    margin: 0 auto;
    max-width: 990px;
    
    padding: 40px 25px 25px 25px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: #878787;
    font-size: 11px;
    z-index: 999999;
}
#login-popup2 {
	width: 85%;
    margin: 0 auto;
    max-width: 990px;
    
    padding: 40px 25px 25px 25px;
    background-color: #FFFFFF;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: #878787;
    font-size: 11px;
    z-index: 1;

}
#login-popup .wrap-form ,#login-popup_myaccount .wrap-form ,
#login-popup2 .wrap-form{
	max-width: 705px;
	margin: 0 auto;
}
#login-popup .close{
	width: 30px;
	height: 30px;
	font-size: 25px;
	text-align: center;
	position: absolute;
	top: 10px;
	right: 10px;
	display: inline-block;
	line-height: 1.6;

}
#login-popup .form-register,
#login-popup .form-login ,
#login-popup2 .form-register,
#login-popup2 .form-login{
	width: 50%;
	float: left;
	padding: 0 10px;
}

/***** products pages *****/
body.prdctfltr-shop h1 {
	border: 0;
}
body .prdctfltr_wc .prdctfltr_buttons:first-child {
	padding: 0;
}
body .prdctfltr_wc {
	margin-bottom: 20px;
}
body .prdctfltr_wc .prdctfltr_filter_inner {
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #fff;
}
.prdctfltr_filter .prdctfltr_regular_title {
	width: 185px;
	display: block;
	float: left;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 15px;
	color: #fff;
	background: #F6921E;
	margin-top: 0;
	vertical-align: top;
	line-height: 1.2;
	padding: 6px 0;
}
.prdctfltr_filter .prdctfltr_regular_title .prdctfltr_title_remove ,
.prdctfltr_filter .prdctfltr_regular_title .rng_price,
.prdctfltr_filter .prdctfltr_regular_title > span {
	/*display: none !important;*/
}
body .prdctfltr_woocommerce .prdctfltr_filter {
	width: auto !important;
	position: relative !important;
	left: 0 !important;
	top: 0 !important;
	padding-left: 0;
	padding-right: 0;
	-webkit-transition: none  !important;
    -o-transition: none !important;
    transition: none !important;
    transform: none !important;
}
.prdctfltr_filter .prdctfltr_checkboxes {
	vertical-align: top;
	width: 300px;
	display: block;
	float: left;
}
.prdctfltr_range.prdctfltr_filter .prdctfltr_checkboxes {
	background: #fff;
	padding: 0 20px 0;
}
body .prdctfltr_wc.prdctfltr_square .prdctfltr_filter label > span:before {
	content: '';
	display:  none !important;
}
.prdctfltr_wc.prdctfltr_square .prdctfltr_filter label.prdctfltr_active > span ,
.prdctfltr_wc.prdctfltr_square .prdctfltr_filter label:hover > span{
	text-decoration: underline;
}
.prdctfltr_filter .prdctfltr_checkboxes > label {
	display: inline-block;
	width: 33.33%;
	background: #fff;
	
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.2;
	padding: 6px 0;
}
.prdctfltr_filter .prdctfltr_checkboxes > label:nth-child(-n+2) {
	border-right: 1px solid #000;
}
.prdctfltr_filter .prdctfltr_checkboxes > label > span {
	color: #000 !important;
}
body .pf_rngstyle_modern .irs-slider {
	background: url(images/right-triangle.png) no-repeat;
	top: 22px;
}
body .pf_rngstyle_modern .irs-slider.to {
	background: url(images/left-triangle.png) no-repeat;
}
body .pf_rngstyle_modern .irs-bar {
    /*background: url(images/sprite-skin-modern-new.png) repeat-x;*/
    background: #000;
}
body .pf_rngstyle_modern .irs-from, 
body .pf_rngstyle_modern .irs-to, 
body .pf_rngstyle_modern .irs-single {
	background: transparent;
	color: #F6921E;
	font-size: 15px;
}
body .pf_rngstyle_modern .irs-from:after, 
body .pf_rngstyle_modern .irs-to:after, 
body .pf_rngstyle_modern .irs-single:after {
	border: none;
}
body .pf_rngstyle_modern .irs-bar,
body .pf_rngstyle_modern .irs-line-left,
body .pf_rngstyle_modern .irs-line-mid,
body .pf_rngstyle_modern .irs-line-right,
body .pf_rngstyle_modern .irs-line {
	height: 2px;
}
body .pf_rngstyle_modern .irs {
    height: 36px;
}


body.woocommerce nav.woocommerce-pagination ul li a,
body.woocommerce nav.woocommerce-pagination ul li span {
	background-color: transparent !important;
}
body.woocommerce nav.woocommerce-pagination ul li .page-numbers {
	font-size: 30px;
	color: #BFBFBF !important;
	font-weight: 300;
}
body.woocommerce nav.woocommerce-pagination ul li .page-numbers.current {
	color: #fff !important;
	background-color: #f6921e!important;
}

body .select2-container .select2-choice {
	    /*padding: 18px 16px ;*/
	    padding: 12px 16px 10px ;
	    color: #fff !important;
	        font-size: 20px !important;
    font-weight: 300 !important;
    background: transparent !important;
        border-radius: 0;
        border-color: #fff !important;
}
body .select2-container .select2-choice>.select2-chosen {
	color: #fff !important;
}

body .woocommerce form .form-row {
	padding: 3px 1px;
}
body .select2-container .select2-choice .select2-arrow b:after {
	border-top-color: #fff;
	border-width: 10px;
	    left: -5px;
}
body .select2-dropdown-open .select2-choice .select2-arrow b:after {
	border-top-color: transparent;
    border-bottom-color: #fff;
    margin-top: -14px;
}
/***** order received ***/

body:not(.woocommerce-cart).woocommerce-order-received  .main-content address {
	background: #fff;
}
body.woocommerce-page.woocommerce-order-received table.shop_table tfoot td ,
body.woocommerce-page.woocommerce-order-received table.shop_table tfoot th ,
body.woocommerce-page.woocommerce-order-received table.shop_table a {
	color: #000 !important;
}



/**** popup no plan on products page ***/
#nonmember-popup {
	background: rgba(0,0,0,.7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999;
	overflow: auto;
}
#nonmember-popup .popup {
	padding: 30px 50px;
	background: #fff;
	text-align: center;
	max-width: 800px;
	width: 85%;
	margin: 25px auto 0;
	color: #000;
}
#nonmember-popup .popup h2 {
	color: #000;
	font-size: 30px;
}
#nonmember-popup .popup .button {
	background: #F6921E !important;
	font-size: 20px !important;
	font-weight: normal !important;
	letter-spacing: 12px;
	text-align: center;
	border-radius: 0 !important;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 300;
	padding: 10px 30px;
	margin-top: 30px;
}

.bg_menu_open {
	background: rgba(246,146,30,.5);
	position: fixed;
	left: 0; 
	right: 0;
	top: 0;
	bottom: 0; 
	display: none;
	z-index: 99999;
}
.bg_menu_open.open {
	display: block;
}
.btn-close-menu {
	display: none;
	cursor: pointer;
}

body.woocommerce-account div.woocommerce div#customer_login{
	background-color: white;
	padding: 20px;
}
body.woocommerce-account div.woocommerce div#customer_login .logo-login{
	display: none;
}
body.woocommerce-account div.woocommerce div#customer_login{
	color: black;
}
body.woocommerce-account div.woocommerce div#customer_login h2, body.woocommerce-account div.woocommerce div#customer_login h2 {
    text-align: center;
    color: #F6921E;
    font-size: 25px;
    letter-spacing: 15px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #F6921E;
    font-weight: normal !important;
}

body.woocommerce-account div.woocommerce div#customer_login input.woocommerce-Input, body.woocommerce-account .woocommerce form .form-row input.input-text, body.woocommerce-account .woocommerce form .form-row textarea, #reg_steam_id{
	border: 1px solid black !important;
}



@media only screen and (max-width: 1600px) {
	.per-month {
	    font-size: 15px;
	}
	.work-step .plan-price {
	    font-size: 70px;
	    height: 75px;
	}
}
@media only screen and (max-width: 1500px) {
	.wrap-started-plans {
		width: 100%;
		float: none;
	}
	.top-item {
		width: 100%;
		max-width: inherit;
		float: none;
	}
	.top-item .wrap-h2 {
	    float: none;
	    position: relative;
	    -webkit-transform: rotate(0deg);
	    -webkit-transform-origin: right top;
	    -moz-transform: rotate(0deg);
	    -moz-transform-origin: right top;
	    -ms-transform: rotate(0deg);
	    -ms-transform-origin: right top;
	    -o-transform: rotate(0deg);
	    -o-transform-origin: right top;
	    transform: rotate(0deg);
	    transform-origin: right top;
	    position: relative;
	    
	    top: 0;
	    right: 0;
	    white-space: normal;
	}
	.items {
		max-width: inherit;
		width: 100%;
	}
	.item {
		max-width: inherit;
		width: 33.33%;
		float: left;
	}
		
	.item:nth-child(-n+2) {
	    -webkit-box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
	    -moz-box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
	    box-shadow: inset -8px 0px 12px 0px rgba(0,0,0,0.4);
	}
	.theplans {
	    margin-bottom: 20px;
	}
	.top-item h2 {
		margin-bottom: 10px;
	}
	.wrap-started-plans {
		margin-top: 0;
	}
}
@media only screen and (max-width: 1400px) {
	.work-step  .texte .col_2_3 .sous_col_1_3 {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}
	.work-step .plan {
		max-width: 280px;
	}
	.work-step .plan-price {
	    font-size: 85px;
	    height: 95px;
	}
	.per-month {
	    font-size: 20px;
	}
	.work-step  .plan:nth-child(-n+2) {
	    -webkit-box-shadow: none;
	    -moz-box-shadow: none;
	    box-shadow: none;
	}
	.woocommerce-cart .span_8 {
		width: 100%;
		float: none;
		padding-right: 0;
	}
	.woocommerce-cart .span_4 {
		width: 100%;
		max-width: 400px;
		float:none;
		margin: 25px auto;
	}

}
@media only screen and (max-width: 1250px) {
	body.woocommerce-account .woocommerce-MyAccount-navigation li a {
		font-size: 16px;
		letter-spacing: 4px;
	}
	body.woocommerce ul.products li.product, 
	body.woocommerce-page ul.products li.product {
		width: 30.5%;
		margin-right: 4%;
	}
	body.woocommerce ul.products li:nth-child(3n+3) {
		margin-right: 0 !important;
	}
	body.woocommerce ul.products li:nth-child(3n+1) {
		clear: both;
	}
	body.woocommerce ul.products li.product.last {
		margin-right: 4%;
		clear: none;
	}
	html body.woocommerce-page ul.products li.first {
		clear: none;
	}
}
@media only screen and (max-width: 1200px) {
	body .cart .quantity input.plus, 
	body .cart .quantity input.minus {
		display: inline-block !important;
	}
}
@media only screen and (max-width: 1100px) {
	.footer-menu .credits {
		position: relative;
		padding-bottom: 8px;
	}
	.step-number {
		font-size: 60px;
		height: 33px;
	}
	.plan-price {
    	font-size: 85px;
    	height: 42px;
    }
    .per-month {
	    font-size: 18px;
	}
}


@media only screen and (max-width: 1250px) {
	.item {
		height: 215px;
	}
	.item .image {
		margin-top: 15px;
	}
}
@media only screen and (max-width: 1100px) {
	.work-step  .texte .col_1_3 {
		width: auto; 
		float: none;
	}
	.wrap-all {
		padding-bottom: 69px;
	}
}
@media only screen and (max-width: 1080px) and (min-width: 1000px) {
	body .cart-outer {
	    display: inline-block;
	}
}


@media only screen and (max-width: 1000px) {
	#ajax-content-wrap, .menu-top {
		width: 100%;
		float: none;
	}

	body #header-outer {
		float: none;
		max-width: inherit;
	}
	body header#top {
		max-width: inherit;
		padding-left: 20px;
		padding-right: 20px;
	}
	body header#top .col.span_9 {
		min-height: 42px;
	}
	body #header-outer[data-format="centered-menu-under-logo"] header#top #logo img {
		height: auto !important;
	}
	#header-outer .container {
		max-width: inherit !important;
	}
	header#top #logo {
		max-width: 110px;
		margin-bottom: 5px;
	}
	header#top #logo img {
		max-width: 100%;
		 margin-top: -47px!important;
	}
	

	.menu-top .my-account,
	.menu-top .logout {
		display: none;
	} 
	.logo-mobile {
		display: inline-block;
	}

	body #header-outer[data-format="centered-menu-under-logo"] header#top nav {
		position: fixed;
		padding: 20px;
		top: 0;
		left: -342px;
		display: block !important;
		margin: 0 !important;
		width: 320px;
		height: 100vh;
		overflow: auto;
		-webkit-transition: left 250ms ;
        -moz-transition: left 250ms ;
        -o-transition: left 250ms ;
        transition: left 250ms ;
        
	}
	body #header-outer[data-format="centered-menu-under-logo"] header#top nav.open {
		left: 0;
	}
	.btn-close-menu {
		display: inline-block;
		position: absolute;
		top:10px;
		right: 10px;
		font-size: 20px;
		color: #fff;
		padding: 0px 8px;
	    border: 1px solid #fff;
	}
	body header#top nav > ul > li {
		margin-bottom: 15px;
	}
	body header#top .sf-menu a {
		border: 0;
		line-height: 1.6;
		font-size: 18px!important;
		padding: 12px 0px  !important
		
	}
	body header#top .sf-menu .signin-register {
	    padding: 12px 15px !important;
	}
	body header#top .sf-menu .signin-register {
		background: #F6921E;
		color: #fff !important;
	}
	body header#top .sf-menu .signin-register a {
		padding: 0 !important
	}
	.link-mobile {
		display: inline-block;
	}
	.menu-top {
		position: fixed!important;
	    top: 0;
	    z-index: 222;
	    right: 0;
	    width: auto;
	}
	html body #header-outer {
		top: 0px !important;
		right: 199.9px;
		width: auto;
		background-color: rgba(0,0,0,.5);
	}
	html body.logged-in #header-outer {
		right: 0;
	}
	body header#top #mobile-cart-link,
	body header#top .span_9 > .slide-out-widget-area-toggle {
		margin-bottom: 0;
		margin-top: 3px;
	}
	body header#top #toggle-nav i, header#top #mobile-cart-link i, 
	body header#top .span_9 > .slide-out-widget-area-toggle i {
		color: #fff;
	}
	div#ajax-content-wrap {
		padding-top: 50px;
	}
	.work-step {
		padding: 20px 20px 50px;
	}
	.work-step  .texte .col_2_3 {
		width: 100%;
	}
	.work-step  .texte .col_2_3 hr {
		margin-left: 15px;
	}
	.work-step .step-number {
	    font-size: 80px;
	    height: 42px;
	}
	.work-step .icon, .faq-section .icon {
	    width: 120px;
	}
	.work-step .texte, .faq-section .faqs {
	    margin-left: 135px;
	}
	body.woocommerce-account .woocommerce-MyAccount-navigation li a {
		font-size: 18px;
	}
	body .cart-outer {
	    display: none;
	}
	body.woocommerce-account .woocommerce-MyAccount-navigation li {
		width: 32%;
	}
	body.woocommerce-account .woocommerce-MyAccount-navigation li:last-of-type {
		width: 50%;
	}
	body.woocommerce-account .woocommerce-MyAccount-navigation li:nth-child(3) {
		margin-right: 0;
	}
	body.woocommerce div.product div.images {
		max-width: 300px;
	}
	body.woocommerce .single-product-summary {
		padding-left: 0;
	}

	body .checkout .col2-set .col-1 {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}
	body .checkout .col2-set .col-2 {
		width: 100%;
		float: none;
	}
	body.woocommerce ul.products li:nth-child(3n+1) {
		clear: initial;
	}
	body.woocommerce ul.products li:nth-child(3n+3) {
	    margin-right: 4% !important;
	}
	body.woocommerce ul.products li:nth-child(2n+2) {
		margin-right: 0 !important;
	}
	body.woocommerce ul.products li:nth-child(2n+1) {
		clear: none !important;
	}
	/*body header#top .mobile {
		display: none;
	}*/
	
}
@media only screen and (max-width: 900px) {
	body .prdctfltr_wc.prdctfltr_wc_regular.prdctfltr_woocommerce.pf_default .prdctfltr_woocommerce_ordering .prdctfltr_filter {
		width: 100% !important;
		margin-bottom: 15px;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	body header#top #logo {
	    max-width: 80px;
	    margin-top: 0px !important;
	    top: 3px !important;
	    margin-bottom: 0;
	}
	html body #header-outer:not([data-permanent-transparent="1"]) {
		height: 65px !important;
	}
	body header#top #mobile-cart-link,
	body header#top .span_9 > .slide-out-widget-area-toggle {
	    margin-top: 12px;
	}
	.signin-register {
		padding: 21.5px 15px;
	}
}
@media only screen and (max-width: 768px) {
	.woocommerce ul.products li.product:nth-child(2n), .woocommerce-page ul.products li.product:nth-child(2n), .woocommerce-page[class*=columns-] ul.products li.product:nth-child(2n), .woocommerce[class*=columns-] ul.products li.product:nth-child(2n) {
	    float: left;
	    clear: none!important;
	}
	body .flexslider {
		margin: 0 40px;
	}
	body .flex-direction-nav .flex-prev {
	    left: -30px !important;
	}
	body .flex-direction-nav .flex-next {
	    right: -30px !important;
	}
	body .flex-direction-nav a,
	body .flex-direction-nav a.flex-next {
		width: 20px;
    	background-size: 100% auto !important;
	}
}


@media only screen and (max-width: 690px) {
	.step {
	    float: none;
	    width: 100%;
	    padding-bottom: 70px;
	    height: auto;
	    min-height: 150px;
	}
	.step:nth-child(-n+2),
	.plan:nth-child(-n+2),
	.item:nth-child(-n+2)
	 {
	   -webkit-box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
       -moz-box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
       box-shadow: inset 0px -8px 12px 0px rgba(0,0,0,0.4);
	}
	    
	.step h3 {
		/*text-align: left;*/
	}
	.plan {
	    float: none;
	    width: 100%;
	    padding-bottom: 75px;
	    height: auto;
	}
	.item {
	    max-width: inherit;
	    width: 100%;
	    float: none;
	    padding-bottom: 50px;
	    height: auto;
	}
	.work-step .icon, .faq-section .icon {
	    width: 80px;
	}
	.work-step .texte, .faq-section .faqs {
	    margin-left: 95px;
	}
	
	.contact .wrap > p > span {
		display: block;
		margin-bottom: 15px;
		margin-right: 0;
	}
	.woocommerce-account h2, .woocommerce-account h3 {
		font-size: 20px;
	}
	body .woocommerce-MyAccount-content address {
		font-size: 20px !important;
	}
	body.woocommerce-account .woocommerce-MyAccount-content .edit-account {
		padding: 0;
	}
	.woocommerce-account .col_1_3 {
		width: 100%;
		float: none;
		margin: 0 0 15px !important;
	}
	.woocommerce-account .col_2_3 {
		width: 100%;
		float: none;
		margin: 0 0 15px !important;
	}
	.woocommerce-account.woocommerce-page input[type="submit"].button {
		display: block !important;
		width: 100%;
	}
	body.woocommerce-account .woocommerce-MyAccount-navigation li a {
		font-size: 16px;
		letter-spacing: 4px;
	}
	.work-step h2, .faq-section h2 {
	    font-size: 30px;
	}
	.my_crates .crate .crate-image {
		width: 35%;
	}
	.my_crates .crate .crate-info {
		width: 65%;
	}
	.my_crates .crate .crate-btn {
		width: 65%;
		float: right;
	}
	.my_crates .crate .crate-btn .btn {
		margin-left: 20px;
		letter-spacing: 4px;
	}
	.my_crates .crate h2 {
		font-size: 20px;
		letter-spacing: 8px;
	}
	html body.single-product div.product .category {
		margin-right: 120px;
	}
	body .related.products h2, 
	body .upsells.products h2, 
	body #comments h2, 
	body #review_form h3, 
	body .cart_totals h2, 
	body .shipping_calculator h2, 
	body .cross-sells h2, 
	body .cart-collaterals h2 {
	    font-size: 20px!important;
	    line-height: 22px!important;
	}
	.win_producs .opened .win_produc {
		width: 100%;
		margin-bottom: 25px;
	}
	body div.dark_rounded {
		max-width: 400px;
	}
	body div.pp_pic_holder {
		left: 50% !important;
		-webkit-transform: translate(-50%, 0);
		  -moz-transform:    translate(-50%, 0);
		  -ms-transform:     translate(-50%, 0);
		  -o-transform:      translate(-50%, 0);
		  transform:         translate(-50%, 0);
	}
	body .pp_content {
		height: auto !important;
	}
	body .pp_content #pp_full_res img {
		width: initial !important;
		
		
	}
	
	body.woocommerce-page table.cart td.actions .coupon {
		width: 85%!important;
	}
	body .ascend .cart .quantity input.plus, 
	body .ascend .cart .quantity input.minus {
		width: 33px!important;
	}
	.checkout .col2-set h3 {
		font-size: 20px!important;
    	line-height: 1.2!important;
	}
	#login-popup2 .form-register, #login-popup2 .form-login {
		width: 100%;
		float: none;
		padding: 0;
	}
	#nonmember-popup .popup h2 {
		font-size: 20px;
		letter-spacing: 8px;
	}

	#nonmember-popup .popup .button {
		white-space: normal;
		line-height: 1.2;
		font-size: 18px !important;
	}
	
}
@media only screen and (max-width: 615px) {
	#login-popup .form-register, 
	#login-popup .form-login, 
	#login-popup2 .form-register, 
	#login-popup2 .form-login {
		width: 100%;
		float: none;
	}
	#login-popup .wrap-formulaire {
		/*overflow: hidden;
		max-height: 0;
		-webkit-transition: max-height 250ms ;
		    -moz-transition: max-height 250ms;
		    -o-transition: max-height 250ms;
		    transition: max-height 250ms;*/
	}
	#login-popup .open .wrap-formulaire {
		max-height: 1000px;
	}
	a.signin-register.mobile {
		display: inline-block !important;
	}
	a.signin-register.non-mobile {
		display: none !important;
	}
}

@media only screen and (max-width: 480px) {
	html body .gform_wrapper .ginput_container input.medium,
	html body .gform_wrapper .ginput_container textarea.medium,
	html body .gform_wrapper .ginput_container ,
	html body .gform_wrapper input.gform_button.button, 
	html body .gform_wrapper input[type=submit]{
		width: 100% !important;
	}
	.woocommerce-account h2, .woocommerce-account h3 {
	    font-size: 18px;
	    line-height:  1.2;
	    letter-spacing: 8px;
	}
	body .woocommerce-MyAccount-content address {
		font-size: 18px !important;
	}
}
@media only screen and (max-width: 479px) {
	.my_crates .crate {
		margin-bottom: 40px;
	}
	.my_crates .crate .crate-image {
		width: 50%;
		float: none;
	}
	.my_crates .crate .crate-info {
		width: 100%;
		float: none;
		padding-left: 0;
	}
	.my_crates .crate .crate-btn {
		width: 100%;
		float: none;
		
	}
	.my_crates .crate .crate-btn .btn {
		margin-left: 0;
	}
	.work-step .texte, .faq-section .faqs {
		margin-left: 0;
	}
	.work-step .icon, .faq-section .icon {
		float: none;
		margin-bottom: 15px;
	}
	.prdctfltr_filter .prdctfltr_checkboxes {
		width: 100%;
	}
	
	/*body.woocommerce ul.products li.product, 
	body.woocommerce-page ul.products li.product {
		margin: 0px 2% 25px 0px !important;
		width: 49% !important;
	}*/
	.text_on_hover.product .product-wrap .photo {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.text_on_hover.product .product-wrap .info {
		width: 100%;
		float: none;
	}
	body .gform_wrapper {max-width: inherit;}
	.menu-top {
		display: none;
	}
	html body #header-outer {
		right: 0;
	}
	body .woocommerce-MyAccount-content th, 
	body .woocommerce-MyAccount-content td,
	body .woocommerce-MyAccount-content address {
		font-size: 16px !important;
	}
	
	body.woocommerce-account .woocommerce-MyAccount-navigation li {
		width: 100% !important;
		float: none;
		margin-right: 0 !important;
	}
	#menu-footer-menu li {
		margin-bottom: 8px;
	}
	body.woocommerce ul.products li.product a {
		height: auto !important;
	}
	.wrap-all {
		padding-bottom: 91px;
	}
	html body.single-product div.product .category {
		margin-right: 120px;
		font-size: 25px;
	}
	html body.single-product div.product .product_title,
	body.woocommerce .summary .price {

		font-size: 25px !important;
	}
	body .cart .quantity input.plus, 
	body .cart .quantity input.minus {
		display: none !important;
	}
	body .woocommerce table.cart td.product-name, 
	body .woocommerce table.cart td.product-name a ,
	body .woocommerce table.cart td.product-price, 
	body .woocommerce table.cart td.product-subtotal {
		font-size: 14px;
	}
	.checkout .col2-set h3 {
	    font-size: 18px!important;
	   
	}
	.refer_friend_form .theInput {
		margin-right: 0;
	}
	.refer_friend_form .theSend {
		position: relative;
	}
	.ascend .refer_friend_form .theSend input[type='submit'] {
		padding: 8px 32px !important
	}
	body .woocommerce .cart .quantity input.qty {
		    border: 1px solid #F6921E !important;
	}
	body .woocommerce table.cart td.product-quantity {
	    width: 80px;
	}
	body .woocommerce table.cart th {
	    font-size: 16px;
	}
	#nonmember-popup .popup {
	    padding: 30px 25px;
	}
	#nonmember-popup .popup .button {

		font-size: 16px !important;
	}

	
}

